body {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 243, 243);
}
.titulo {
    text-align: center;
    color: rgb(8, 8, 8);
}
.parrafo {
    color: rgb(0, 0, 0);
}
.img {
    display: flex;
    margin: auto;
    padding: 5px;
    border: solid 5px rgb(56, 124, 124);
}